body 
  margin: 0 auto
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

 
.link
  text-decoration: none
  color: black


.wrapper
  background: #ffffff
  border-radius: 20px
  max-width: 1920px
  height: 110px

    

header

  //background-color: #F4EFEB
  display: flex
  justify-content: space-between
  padding: 15px 0 15px 30px
  font-family: 'Montserrat', sans-serif
  font-size: 22px
  img
    margin-right: 15px  
  h3, p
    margin: 0
  .headerLeft
    display: flex
    align-items: center
  li, ul , .icon_down
    margin-top: 30px
    list-style-type: none
    display: inline
  .icon
    margin-right: 30px
    cursor: pointer
    display: inline
  .icon:hover
    color: #7a6c6c
  .icon_down
    margin-left: 5px


.logoName
  width: 180px
  height: 55px

.imgName
  width: 78px
  height: 79px

.icon:hover
  transition: 0.2s
  .menu
    display: block




.menu_hidden
  justify-content: none
  position: relative
  bottom: 28px
  display: inline-block


.menu
  position: absolute
  list-style-type: none
  padding-left: 0px
  left: -100px
  display: none
  cursor: pointer


.menu_link
  padding: 10px
  background-color: #F4EFEB
  color: #111111
  text-decoration: none
  display: block
  font-family: 'Montserrat', sans-serif
  font-size: 22px
  height: 30px
  border-top:  1px solid #9A6F5C
  line-height: 30px
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)  
  &:hover
    background-color: #dbccc0
    color: #000


    
    

.content
  h1
    margin: 0
  padding: 40px 282px
  //background-color: #FFFFFF
 

.menuCardUpper
    background-color: #F5F4F2
    position: absolute
    left: 0
    right: 0

    


.cardAll
  display:  flex
  flex-wrap: wrap
  max-width: 1362px
  padding-left: 280px
  justify-content: space-between
  


.titleMenuBlock
  font-family: 'Russo One', sans-serif
  font-size: 40px
  padding-left: 280px
  margin: 65px 0px 61px 12px
  text-transform: uppercase
 

.titleMenuBlock:after
    content: ""
    display: block
    max-width: 363px
    height: 3px
    background-color: #000000

.card
  font-family: 'Montserrat Alternates', sans-serif
  padding: 20px
  max-width: 325px
  max-height: 454px
  margin-bottom: 36px
  border-radius: 30px

  box-shadow: (0px 0px 10px rgba(0, 0, 0, 0.25))
    
.nameCard
  font-size: 26px
  padding-top: 21px
  padding-bottom: 24px
  word-wrap: break-word
  overflow-wrap: break-word
  max-width: 275px
  

 
.vCard
  font-size: 16px
  padding-bottom: 15px

.imgCard
  height: 195px
  width: 279px
  border-radius: 30px

.infoCard
  width: 279px
  height: 63px
  border-radius: 22px
  background-color: #F4DDD3
  cursor: pointer
  transition: 0.5s
  



.CardPrice
  text-align: center
  color: #000
  padding-top: 15px
  font-size: 25px
  font-weight: bold
  

.infoCard:hover
  background-color: #a57763



 

.button, .btn
  background: #dddbdb
  border: 1px solid #2926cf
  box-sizing: border-box
  border-radius: 8px
  height: 32px
  width: 32px
  cursor: pointer


.plus
    cursor: pointer


.button:hover, .btn:hover
  background: #7c7373




 
.drawer
  color: black
  width: 1000px
  height: 500px
  background-color: white
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1)
  position: absolute

.cartItems
  position: relative
  display: flex
  justify-content: space-between
  margin: 100px 100px

.btnPopUp
  color: purple
  height: 35px
  width: 40px
  border: none
  margin-left: 70px
  border-radius: 30px
  font-size: 30px
  transition:    transform .8s ease-in-out
  background: transparent
  cursor: pointer
 

.btnPopUp:hover
  transform: rotate(90deg)

.imgPopUp
    display: block
    width: 100%
    height: auto

.textPopUp
    width: 50% 
    margin: 0 65px
 
  

.btnMenu, .btnMenuActive
    display: inline-block
    vertical-align: top
    padding: 15px 31px
    font-size: 30px
    margin-right: 18px
    border: none
    background-color: #FFFFFF
    color: black
    text-transform: uppercase
    text-decoration: none
    font-family: 'Montserrat', sans-serif
    transition: background .1s linear, color .1s linear
    cursor: pointer
    
.btnMenuActive
       background-color: #70715A
       color: white
       font-weight: 700
       font-style: bold

.btnMenu:hover 
    color: black
    background-color: #C6C6BD

.fruitMenu
  display: block




.sliderMenu
  margin-left: 18px

.sliderMenu:after
    content: ""
    margin-left: -18px
    display: block
    width: 100%
    height: 3px
    background-color: #000000
   

.infoMenu
  width: 1360px
  height: 323px
  background-color: #F4EEE8
  border-radius: 88px
  margin-bottom: 100px
  font-family: 'Montserrat Alternates', sans-serif
  padding-right: 10px



  
  
  
.infoMenuCard1, .infoMenuCard2, .infoMenuCard3
  display: inline-table
  margin-top: 25px



.infoMenuCard1
  width: 328px
  padding-left: 100px
  margin-right: 70px

.infoMenuCard2
  width: 404px
  margin-right: 103px

.infoMenuCard3
  width: 243px
  padding-right: 94px



.titleMenu
  font-size: 24px
  bottom: 22px

.intoMenu
  font-size: 20px
  display: block
  padding-top: 20px

.imgTextCard 
  display: inline-flex

.imgCardMenu
  padding-top: 16px
  padding-right: 24px

.titleMenuCard
    text-align: center
    font-family: 'Russo One', sans-serif
    font-size: 50px
    margin-left: 573px
    width: 211px
    height: 61px
    background-color: #D4D8B8
    margin-bottom: 36px

