.top_menu > li > a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  transition: background-color 0.25s, color 0.15s;
}

.top_menu {
  display: inline-block;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.top_menu > li {
  display: inline-block;
  position: relative;
}

.inner_menu {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding-left: 0;
  text-align: left;
  margin: 0;
}

.top_menu > li:hover > ul a {
  opacity: 1;
  height: 30px;
  padding: 10px;
  transition: height 0.3s, opacity 0.4s;
}

.top_menu > li:hover > ul li {
  height: 40px;
  opacity: 1;
}

.inner_menu > li {
  height: 0;
  opacity: 0;
  transition: height 0.3s, opacity 0.4s;
}

.inner_menu > li > a {
  width: 100%;
  text-decoration: none;
  overflow: hidden;
  opacity: 0;
  transition: height 0.4s, opacity 0.5s;
}

.top_menu > li > ul a {
  height: 0;
  margin: 0;
  padding: 0;
  transition: height 0.3s, opacity 0.4s, padding 3s linear;
}

body {
  margin: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.link {
  text-decoration: none;
  color: black;
}

.wrapper {
  background: #ffffff;
  border-radius: 20px;
  max-width: 1920px;
  height: 110px;
}

.background_menu {
  background-image: url("./component/img/menu_background.png");
  background-repeat: no-repeat;
  padding: 40px 0;
  background-position: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 15px 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  align-items: center;
}
header img {
  margin-right: 15px;
}
header h3, header p {
  margin: 0;
}
header .headerLeft {
  display: flex;
  align-items: center;
}
header li, header ul, header .icon_down {
  list-style-type: none;
  display: inline;
}
header .icon {
  margin-right: 30px;
  cursor: pointer;
  display: inline;
}
header .icon:hover {
  color: #7a6c6c;
}
header .icon_down {
  margin-left: 5px;
}

.icon:hover {
  transition: 0.15s;
}

.menu_link {
  padding: 10px;
  background-color: #F4EFEB;
  color: #111111;
  text-decoration: none;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  height: 30px;
  border-top: 1px solid #9A6F5C;
  line-height: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.menu_link:hover {
  background-color: #dbccc0;
  color: #000;
}

.content {
  margin: auto;
  max-width: 1380px;
}
.content h1 {
  margin: 0;
}

@media screen and (max-width: 1440px) {
  .content {
    max-width: 1000px;
  }
}
.menuCardUpper {
  background-color: #F5F4F2;
  position: absolute;
  left: 0;
  right: 0;
}

.titleMenuBlock {
  font-family: "Russo One", sans-serif;
  font-size: 40px;
  padding-left: 280px;
  margin: 65px 0px 61px 12px;
  text-transform: uppercase;
}

.card {
  font-family: "Montserrat Alternates", sans-serif;
  padding: 20px;
  max-width: 325px;
  max-height: 454px;
  margin: 13px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

@media screen and (max-width: 1440px) {
  .card {
    margin: 13px;
    max-width: 260px;
    max-height: 350px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .card img {
    max-width: 260px;
    max-height: 170px;
  }
}
.nameCard {
  font-size: 26px;
  padding-top: 21px;
  padding-bottom: 24px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 275px;
  min-height: 70px;
}

@media screen and (max-width: 1440px) {
  .nameCard {
    font-size: 22px;
    padding-bottom: 5px;
    max-width: 260px;
  }
}
.vCard {
  font-size: 16px;
  padding-bottom: 15px;
}

@media screen and (max-width: 1440px) {
  .vCard {
    padding-bottom: 15px;
  }
}
.imgCard {
  height: 195px;
  width: 279px;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.infoCard {
  width: 279px;
  height: 63px;
  border-radius: 22px;
  background-color: #F4DDD3;
  cursor: pointer;
  transition: 0.5s;
}

@media screen and (max-width: 1440px) {
  .infoCard {
    width: 260px;
    height: 58px;
    border-radius: 22px;
  }
}
.CardPrice {
  text-align: center;
  color: #000;
  padding-top: 15px;
  font-size: 25px;
  font-weight: bold;
}

@media screen and (max-width: 1440px) {
  .CardPrice {
    font-size: 20px;
    padding-top: 17px;
  }
}
.infoCard:hover {
  background-color: #cca594;
}

.button, .btn {
  background: #dddbdb;
  border: 1px solid #2926cf;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.plus {
  cursor: pointer;
}

.button:hover, .btn:hover {
  background: #7c7373;
}

.titleOption {
  text-align: center;
  font-family: "Russo One", sans-serif;
  font-size: 50px;
  margin: auto;
  width: 211px;
  height: 61px;
  background-color: #D4D8B8;
  margin-bottom: 36px;
  margin-top: 55px;
}

.itemOption {
  max-width: 1360px;
  height: 323px;
  background-color: #F4EEE8;
  border-radius: 88px;
  margin-bottom: 100px;
  font-family: "Montserrat Alternates", sans-serif;
  padding: 20px;
}

.nameOption {
  font-size: 24px;
  bottom: 22px;
}

.textOptions {
  font-size: 20px;
  display: block;
}

.optionFirstCol, .optionSecondCol {
  display: inline-table;
  margin-top: 25px;
}

.optionFirstCol {
  width: 328px;
  padding-left: 122px;
  margin-right: 70px;
}

.optionSecondCol {
  width: 404px;
  margin-right: 103px;
}

.optionThirdCol {
  width: 243px;
  padding-right: 94px;
  display: inline-table;
  position: absolute;
  margin-top: 81px;
}

.OptionCard {
  display: inline-flex;
  margin-top: 16px;
  align-items: center;
  min-height: 72px;
}

.imgOption {
  margin-right: 24px;
}

@media screen and (max-width: 1440px) {
  .titleOption {
    font-size: 40px;
    width: 176px;
    height: 49px;
  }
  .optionThirdCol {
    max-width: 243px;
    display: inline-table;
    position: absolute;
    margin-top: 81px;
    padding-right: 10px;
    margin-left: -50px;
  }
}
@media screen and (max-width: 1440px) {
  .itemOption {
    border-radius: 0px;
    padding: 20px 0;
    max-width: 1440px;
    max-width: 1440px;
  }
  .titleOption {
    font-size: 40px;
  }
  .nameOption {
    font-size: 24px;
  }
  .textOptions {
    font-size: 16px;
  }
  .optionFirstCol {
    max-width: 328px;
    padding-left: 30px;
    margin-right: -10px;
  }
  .optionSecondCol {
    max-width: 404px;
    margin-right: -20px;
  }
  .optionThirdCol {
    max-width: 243px;
    display: inline-table;
    position: absolute;
    margin-top: 81px;
    margin-left: 0px;
  }
}
.drawer {
  font-family: "Montserrat Alternates", sans-serif;
  color: black;
  max-width: 1400px;
  max-height: 751px;
  background-color: white;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 130px auto;
  border-radius: 66px;
  padding: 10px;
}
.drawer img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  width: 598px;
  height: 552px;
  border-radius: 30px;
}

@media screen and (max-width: 1440px) {
  .drawer {
    margin-top: 110px;
    max-width: 970px;
  }
  .drawer img {
    width: 430px;
    height: 400px;
  }
}
@media screen and (max-width: 1000px) {
  .drawer {
    border-radius: 48px;
    margin: auto;
    margin-top: 15px;
    max-width: 485px;
    max-height: 912px;
    padding: 50px 0px;
  }
  .drawer img {
    width: 425px;
    height: 382px;
  }
}
.overlay {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.9254901961);
  overflow: hidden;
  position: fixed;
  top: 0px;
}

.cartItems {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 100px 100px;
}

@media screen and (max-width: 1440px) {
  .cartItems {
    margin: 30px;
    justify-content: normal;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 1000px) {
  .cartItems {
    flex-direction: column;
  }
}
.textPopUp {
  max-width: 552px;
  margin: 0 65px;
}

@media screen and (max-width: 1440px) {
  .textPopUp {
    max-width: 415px;
    margin: 0;
    margin-left: 35px;
  }
}
@media screen and (max-width: 1000px) {
  .textPopUp {
    max-width: 552px;
    margin: auto;
  }
}
.btnPopUpClose {
  color: #383838;
  height: 35px;
  width: 40px;
  border: none;
  margin-left: -100px;
  border-radius: 30px;
  margin-top: -50px;
  font-size: 30px;
  transition: transform 0.3s ease-in-out;
  background: transparent;
  cursor: pointer;
}

@media screen and (max-width: 1440px) {
  .btnPopUpClose {
    margin-top: -50px;
    margin-left: -30px;
  }
}
@media screen and (max-width: 1000px) {
  .btnPopUpClose {
    position: absolute;
    margin-left: 382px;
  }
}
.btnPopUpClose:hover {
  transform: rotate(90deg);
}

.PopUpName {
  font-size: 32px;
  margin-bottom: 36px;
}

@media screen and (max-width: 1440px) {
  .PopUpName {
    font-size: 24px;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 1000px) {
  .PopUpName {
    font-size: 22px;
    margin: 25px 0;
  }
}
.PopUpMl {
  font-size: 16px;
  margin-bottom: 18px;
}

@media screen and (max-width: 1440px) {
  .PopUpMl {
    font-size: 14px;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 1000px) {
  .PopUpMl {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.PopUpPrice {
  font-size: 25px;
  font-weight: 700;
  font-style: bold;
  margin-bottom: 46px;
}

@media screen and (max-width: 1440px) {
  .PopUpPrice {
    font-size: 20px;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 1000px) {
  .PopUpPrice {
    font-size: 20px;
    margin-bottom: 18px;
  }
}
.PopUpInfa {
  font-size: 24px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1440px) {
  .PopUpInfa {
    font-size: 16px;
    margin-bottom: 34px;
  }
}
@media screen and (max-width: 1000px) {
  .PopUpInfa {
    font-size: 14px;
    margin-bottom: 25px;
  }
}
.PopUpSostav {
  font-size: 24px;
}

@media screen and (max-width: 1440px) {
  .PopUpSostav {
    font-size: 16px;
  }
}
@media screen and (max-width: 1000px) {
  .PopUpSostav {
    font-size: 14px;
  }
}
.btnMenu, .btnMenuActive {
  display: inline-block;
  vertical-align: top;
  padding: 15px 31px;
  font-size: 30px;
  margin-right: 18px;
  border: none;
  background-color: #FFFFFF;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  transition: background 0.1s linear, color 0.1s linear;
  cursor: pointer;
}

@media screen and (max-width: 1440px) {
  .btnMenu, .btnMenuActive {
    font-size: 20px;
    padding: 15px 15px;
    margin-left: 18px;
  }
}
.btnMenuActive {
  background-color: #70715A;
  color: white;
  font-weight: 700;
  font-style: bold;
}

.btnMenu:hover {
  color: black;
  background-color: #C6C6BD;
}

.line {
  content: "";
  margin-left: 15%;
  display: block;
  width: 1440px;
  height: 3px;
  background-color: #000000;
}

@media screen and (max-width: 1440px) {
  .line {
    margin-left: 0px;
  }
}
.menuUpper {
  background-color: #F5F4F2;
  position: absolute;
  left: 0;
  right: 0;
}

.cardAll {
  display: flex;
  flex-wrap: wrap;
  margin-top: 65px;
  max-width: 1380px;
  margin: auto;
  padding: 30px 0;
}

@media screen and (max-width: 1440px) {
  .cardAll {
    max-width: 980px;
  }
}
@media screen and (max-width: 1000px) {
  .cardAll {
    padding: 0px;
  }
}
.slider {
  margin-top: 150px;
  display: flex;
  align-items: center;
}
.slider img {
  min-width: 100%;
}

@media screen and (max-width: 1440px) {
  .slider img {
    min-width: 100%;
  }
}
.WindowSlider {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.ItemSlider {
  height: 100%;
  display: flex;
  width: 100%;
}

.ArrowSlider {
  cursor: pointer;
  font-size: 30px;
  color: #695b5b;
}

.burger {
  position: absolute;
  right: 5%;
  top: 19px;
}

.mobile ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 86px;
  right: 0;
  width: 100%;
  background: #f4eee8;
}
.mobile ul li {
  padding: 20px;
  padding-left: 15%;
}
.mobile ul a li {
  padding: 20px;
  padding-left: 15%;
}

.mobile .top_menu {
  border-top: 2px solid #7a6c6c;
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.2);
}
.mobile .top_menu > li:hover > ul li {
  height: 40px;
}

.mobile .top_menu > li > a {
  text-decoration: none;
}
.mobile .top_menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.mobile .inner_menu {
  position: unset;
  top: 100%;
  left: 0;
  list-style: none;
  padding-left: 0;
  text-align: left;
  margin: 0;
}
.mobile .top_menu > li > ul a {
  opacity: 1;
  height: 30px;
  padding: 10px;
  transition: none;
}
.mobile .top_menu > li > ul li {
  height: 40px;
  opacity: 1;
}
.mobile .inner_menu > li {
  height: 0;
  opacity: 1;
  transition: none;
  display: block;
  margin: 0;
}
.mobile .inner_menu > li > a {
  width: 100%;
  text-decoration: none;
  overflow: hidden;
  opacity: 1;
  transition: none;
}
.mobile .top_menu > li > ul a {
  height: 40px;
  margin: 0;
  padding: 0;
  transition: none;
}
.mobile ul li ul {
  display: block;
}
.mobile ul li ul li {
  padding: 0;
}
.mobile ul li ul .menu_link {
  border-top: none;
  box-shadow: none;
}

.mobile ul .inner_menu {
  display: none;
}
.mobile .icon_down {
  display: none;
}

.titleMenu {
  font-size: 24px;
  bottom: 22px;
}

.intoMenu {
  font-size: 20px;
  display: block;
  padding-top: 20px;
}

.imgTextCard {
  display: inline-flex;
}

.imgCardMenu {
  padding-top: 16px;
  padding-right: 24px;
}

.titleMenuCard {
  text-align: center;
  font-family: "Russo One", sans-serif;
  font-size: 50px;
  margin-left: 573px;
  width: 211px;
  height: 61px;
  background-color: #D4D8B8;
  margin-bottom: 36px;
}

.SliderArLeft {
  position: absolute;
  margin-left: 16px;
}

.SliderArRight {
  margin-left: -3%;
}

.container2 {
  margin: auto;
  max-width: 1400px;
}

.temp {
  margin-top: 31px;
}

.topping {
  margin-top: 31px;
}

@media screen and (max-width: 1440px) {
  .container2 {
    max-width: 978px;
  }
  .slider {
    margin-top: 112px;
  }
  .SliderArRight {
    margin-left: -4%;
  }
}
@media screen and (max-width: 1000px) {
  .line {
    margin-left: 0px;
    max-width: 480px;
  }
  .container2 {
    max-width: 480px;
    margin: auto;
  }
  .btnMenu {
    margin-left: 0;
    margin-right: 0;
    font-size: 12px;
    padding: 11px 8px;
  }
  .btnMenuActive {
    margin: 0;
    font-size: 12px;
    padding: 11px 8px;
  }
  .SliderArRight {
    margin-left: -6%;
  }
  .slider {
    margin-top: 112px;
  }
  .textOptions {
    font-size: 12px;
  }
  .nameOption {
    font-size: 16px;
  }
  .optionFirstCol {
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .optionSecondCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
  }
  .itemOption {
    height: 800px;
    margin-bottom: 40px;
  }
  .OptionCard {
    flex-direction: column;
  }
  .imgOption {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .optionThirdCol {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 274px;
    width: 274px;
    padding-left: 100px;
  }
  .SliderArLeft {
    margin-left: 2%;
  }
  .card {
    max-width: 197px;
    max-height: 325px;
    padding: 20px 15px;
    margin: 7px;
  }
  .card img {
    max-width: 195px;
    max-height: 140px;
  }
  .nameCard {
    max-width: 200px;
    font-size: 16px;
    min-height: 48px;
  }
  .vCard {
    max-width: 200px;
    font-size: 12px;
  }
  .infoCard {
    max-width: 200px;
  }
  .cardAll {
    padding-top: 25px;
    max-width: 483px;
  }
}/*# sourceMappingURL=index.css.map */